variables:
  CI_REGISTRY_IMAGE_BASE: "${CI_REGISTRY}/git/$CI_PROJECT_NAME"
  DOCKER_BUILDKIT: 1

image:
  name: docker:git

before_script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN

build_latest:
  stage: build
  only:
  - web
  script:
    - |
      docker build --pull \
      --build-arg BUILDKIT_INLINE_CACHE=1 --build-arg PARALLEL=4 \
      --output=type=image,compression=zstd \
      --cache-from $CI_REGISTRY_IMAGE:latest \
      -t $CI_PROJECT_NAME:$CI_COMMIT_SHA \
      -t $CI_PROJECT_NAME:latest \
      -t $CI_PROJECT_NAME:${CI_COMMIT_SHORT_SHA} \
      -t $CI_REGISTRY_IMAGE_BASE:${CI_PIPELINE_CREATED_AT//:/.} .
    - docker tag $CI_REGISTRY_IMAGE_BASE:${CI_PIPELINE_CREATED_AT//:/.} $CI_REGISTRY_IMAGE_BASE:latest
    - docker push -a $CI_REGISTRY_IMAGE_BASE
    - docker push $CI_REGISTRY_IMAGE_BASE:latest
