services:
  ollama-rocm:
    image: CI_REGISTRY/git/rocm-ollama:latest
    container_name: ollama-rocm
    volumes:
      - /opt/llm-dl:/opt/llm-dl
    devices:
      - /dev/kfd
      - /dev/dri/card10
      - /dev/dri/renderD128
      - /dev/accel/accel0
    group_add:
      - video
      - render
    ipc: host
    security_opt:
      - seccomp:unconfined
    network_mode: host
    restart: always
    